<nav class="shadow-sm navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">Amazook</a>
    <div class="d-flex jusify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
          </svg>
          <a class="nav-link" href="#"><small>Books Reserved</small></a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
          </svg>
          <a class="nav-link" href="#"><small>Order New Books</small></a>
        </li>
        <li class="nav-item">
          
          <a class="nav-link" href="#">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>