<p id="notice"><%= notice %></p>

<div class="row row-cols-4">
  <% @books.each do |book| %>
    <div class="col mt-5">
      <%= render 'books/components/book_item', book: book %>
    </div>
  <% end %>
</div>
