// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cover-container {
  position: relative;
}

.cover-container h5 {
  position: absolute;
  top: 100px;
  width: 100%;
}

li svg {
  height: 20px;
  fill: white;
}

li:hover {
  svg {
    fill: orange;
  }
}