// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

svg {
  height: 40px;
}

#books-order-box {
  border: 1px dotted gray;
  border-radius: 0.5rem;
  height: 80%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
