<div class="mt-5">
  <%= render 'profile/components/reserved' %>
  <%= render 'profile/components/books_actions' %>
</div>

<%= javascript_pack_tag 'listActionHide' %>
<%= javascript_pack_tag 'formInteraction' %>
